.row
  .col-12-s
      h2=section.jobs_title
        a.pdf_link(href=locals.config.imgPath + "resume_alexbeuscher_20170129.pdf" target="_blank") (PDF)
- var count = 0
while count < section.jobs.length
  .job.row
    - var job = section.jobs[count]
      include ./job-row.pug
    if (section.jobs[count+1])
      - var job = section.jobs[count+1];
      include ./job-row.pug
    - count = count + 2
