.overview.row
  .col-8-m
    h2=section.intro_header
    p=section.intro
  .col-4-m
    h2=section.skills_header
    ul.skills
      each skill in section.skills
        li
          .skill-box
            p=skill.title
            .stars
              - var n = 0
              while n < skill.level
                span.icon-checkmark
                - n++
              - var n = 0
              while n < 3 - skill.level
                span.icon-checkmark2
                - n++
