- var count = 0, perRow = 4;
while count < section.sites.length
  if count/perRow == parseInt(count/perRow)
    .row.thumbs
      - var i = count;
      while i < count * perRow + perRow
        - var site = section.sites[i]
        if site
          - site.config = locals.config
          if i>0
            - site.prev = i - 1
          if i<section.sites.length-1
            - site.next = i + 1
          include ./portfolio-row.pug
        - i++
  - count = count+4
