//Basic Styles
body {
    font-family: $body-font;
    background: $body-bg-color;
    color: $body-text-color;
    position: relative;

    &.modal-open {
        overflow: hidden;
    }
}

.centered {
    text-align: center;
}

.right {
    text-align: right;
}

a {
    text-decoration: none;
    color: $body-link-color;
    &:hover {
        color:$body-link-hover-color;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $header-font;
    font-size: $header-font-size;
    color: $header-color;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    line-height: 1.2em;
}

h2 {
    font-size: 30px;
    margin: 0 0 20px;
}

li,
p {
    line-height: 1.6;
    margin: 0 0 1em;
    font-size: 20px;
}
img {
    max-width: 100%;
}
.inner {
    width:94%;
    margin:0 3%;
    @include bp(s) {
        width:90%;
        margin:0 5%;
    }
    @include bp(m) {
        width:100%;
        max-width:1320px;
        margin:0 auto; 
    }
}

.padding-all {
    padding:$gutter-width;
}
.padding-both {
    padding-top:$gutter-width;
    padding-bottom:$gutter-width;
}
.flex {
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    .col-third {
        flex-basis:100%;
        @include bp(m) {
            flex-basis:32%;
        }
    }
    .col-two-third {
        flex-basis:100%; 
        @include bp(m) {
            flex-basis:65%;
        }
        
    }
}