//Basic Styles
body {
  font-family: $body-font;
  background: $body-bg-color;
  color: $body-text-color;
  position: relative;
}

.centered {
  text-align: center;
}

.right {
  text-align: right;
}
.hide-mobile {
  display:none;
  @include bp(s) {
    display:default;
  }
}
a {
  text-decoration: none;
  color: $body-link-color;
  &:hover {
    color: $body-link-hover-color;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $header-font;
  margin: 0;
  padding: 0;
  line-height: 1.2em;
}

h2 {
  font-size: 30px;
  margin: 0 0 20px;
}

li,
p {
  line-height: 1.6;
  margin: 0 0 1em;
  font-size: 20px;
}
img {
  max-width: 100%;
}
.inner {
  width: 90%;
  margin: 0 auto;
  max-width: 1025px;
}
.padding-both {
  padding-top: $gutter-width;
  padding-bottom: $gutter-width;
}
.padding-top {
  padding-top: $gutter-width;
}
.padding-bottom {
  padding-bottom: $gutter-width;
}
.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .col-third {
    flex-basis: 100%;
    @include bp(s) {
      flex-basis: 32%;
    }
  }
  .col-two-third {
    flex-basis: 100%;
    @include bp(s) {
      flex-basis: 65%;
    }
  }
  .col-quarter {
    flex-basis: 100%;
    @include bp(s) {
      flex-basis: 24%;
    }
  }
  .col-three-quarter {
    flex-basis: 100%;
    @include bp(s) {
      flex-basis: 74%;
    }
  }
}

.button {
  padding: 0.25em 1em;
  text-align: center;
  display: block;
  background: lighten($dark-green, 5%);
  color: $white;
  transition: all 0.1s ease-in;
  border-radius: 2px;
  border: 1px solid $yellow;
  @include bp(s) {
    border: none;
    display: inline-block;
  }
  &:hover {
    background: lighten($dark-green, 2%);
    color: $yellow;
  }
}
