.overview {
  background: $blue-gray;
  p {
    margin: 0;
  }
  ul.skills {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    vertical-align: top;
    li {
      display: inline-block;
      vertical-align: top;
      flex-grow: 1;
      padding: 0;
      margin: 0;

      .skill-box {
        margin: 5px;
        padding: 5px;
        background: #fff;
        color: $black;
        text-align: center;

        p {
          font-size: .8em;
          line-height: 1.5;
          overflow: hidden;
        }

        .stars {
          font-size: 0.8em;
        }
      }
    }
  }
}

.portfolio {
  background: $turquoise;

  .thumb {
    @include aspect-ratio(640, 400);
    background-size: 110%;
    background-position: center center;
    filter: grayscale(80%);
  }
  p.tech, h3 {
    color: darken($grayish,5%);
  }
  h3 {
    padding-top: $gutter-width/3;
    text-align: center;
  }

  p.tech {
    text-align: center;
    text-transform: none;
    font-style: italic;
    font-size: 1em;
  }
  .site-block {
    flex-basis: 100%;
    cursor: pointer;
    * {
    transition:all .2s ease-in;  
    }
    @include bp(s) {
      flex-basis: 32%;
    }
    @include bp(m) {
      flex-basis: 23.5%;
    }
    &:hover {
      p.tech, h3 {
        color: darken($grayish,10%);
      }
      
      .thumb {
        filter: grayscale(0%) blur(0);
        background-size: 100%;
      }
    }
  }
}
.resume {
  background: $blue-gray;
  //color:$white;
  h2,
  h3,
  h4,
  h5 {
    //color:$white;
  }
}
.job-block {
  position: relative;
  h4 {
    margin-top: $gutter-width/4;
    font-size: 1.4em;
  }
  h5 {
    font-size: 1.1em;
  }
  .description {
    padding-top: 3px;
  }
  cite {
    display: block;
    margin-bottom: $gutter-width/2;
  }
  .col-third p {
    font-size: 0.9em;
  }
  .thumb-bucket {
    display: none;
    text-align: center;
    a {
      display: inline-block;
    }
    .thumb {
      background-size: 80%;
      background-position: center center;
      background-repeat: no-repeat;
      padding: 25px;
      display: inline-block;
    }
    a.url {
      display: block;
      line-height: 2em;
      vertical-align: middle;
      font-size: 0.75em;
      color: $off-black;
    }
  }
  @include bp(s) {
    margin-bottom: $gutter-width;
    .col-third {
      text-align: right;
    }
    .thumb-bucket {
      text-align: right;
    }
  }
  @include bp(m) {
  }
}
.pdf_link {
  float: right;
}
.modal {
  .modal-nav {
    a {
      text-transform: uppercase;
      font-size: 0.8em;
      font-weight: 700;
      .next,
      .prev {
        padding: 1em;
      }
    }

    .url {
      display: block;
      text-transform: none;
      font-size: 0.75em;
      line-height: $gutter-width;
    }
  }
  h2 {
    text-align: center;
    font-size: 2em;
    padding: $gutter-width 0;
  }

  .thm {
    display: block;
    text-align: center;
    padding: $gutter-width 0;
    img {
      max-width: 100%;
    }
  }
}
