//colors
$black:#000;
$off-white:#ecf2f4;

//$body-bg-color:linear-gradient(#131313 0%,#1c1c1c 20%,#2b2b2b 40%,#111111 60%,#000000 100%);
$body-bg-color:$off-white;

$wrapper-bg-color:$black;

$body-text-color:$black;
$body-link-color:$black;

//fonts
$body-font:'Droid Sans',sans-serif;
$nav-font:'Droid Sans',sans-serif;
$header-font:'Lato', sans-serif;
$header-font-size:1.4em;
