$bps:(xs: 0, s:640px, m:1024px, l:1320px);

//config
$cdn-path:"/";
$img-path:$cdn-path+"images/";
$font-path:"/fonts/";

//colors
$black:#000;
$white:#fff;
$off-white:#d2dce6;
$off-black:#031921;
$light-blue:#effcef;
$blue-gray:#ccedd2;
$turquoise:#94d3ac;
$grayish:#655c56;

//$body-bg-color:linear-gradient(#131313 0%,#1c1c1c 20%,#2b2b2b 40%,#111111 60%,#000000 100%);
$body-bg-color:$light-blue;

$logo-color:$grayish;

$wrapper-bg-color:$white;

$body-text-color:$off-black;
$body-link-color:$black;
$body-link-hover-color:$off-black;

$header-color:$off-black; 

//fonts
$body-font:'Open Sans',sans-serif;
$nav-font:'Open Sans',sans-serif;
$header-font:'Open Sans', sans-serif;
$logo-font:'Open Sans', sans-serif;
$header-font-size:1.4em;

$gutter-width:25px;

// Section BAckground Colors
$header-bg:$grayish;
$header-text-color:$black;
$bg-nav:#000;
$nav-link-color:#fff;
$nav-link-hover-color:#fff;
$overview-bg:#000;
$overview-text-color:#fff;
$portfolio-bg:#000;
$portfolio-text-color:#fff;
$resume-bg:#000;
$resume-text-color:#fff;
$footer-bg:#000;
$footer-text-color:#fff;
