@import "./_normalize.scss";
@import "./_variables.scss";
@import "./_global.scss";
@import "./_sass-mixins.scss";
@import "./_modal.scss";
@import "./_icons.scss";
.grid {
  @include grid();
  .row.pad {
    margin:0 -20px;
    &> [class*=col] {
      padding:20px;
    }
  }
}
body {
    font-family: $body-font;
    background: $body-bg-color;
    color: $body-text-color;
    position:relative;
    a {
        text-decoration: none;
        color: $body-link-color;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: $header-font;
        font-size: $header-font-size;
        font-weight: normal;
        text-transform:uppercase;
        margin:0;
        padding:0;
        line-height:1.2em;
    }
    li,
    p {
        line-height: 1.6;
        margin: 0 0 1em;
        font-size: 20px;
    }
    img {
      max-width:100%;
    }
    #wrapper-main {
      width:94%;
      margin:0 3%;
      @include bp(s) {
        width:90%;
        margin:0 5%;
      }
      @include bp(l) {
        width:80%;
        margin:0 10%;
      }
    }
}
header {
  padding:40px 0;
  text-align:center;
  .contact {
    display:block;
  }
}
.loc, .url {
  text-align:right;
  line-height:1;
  margin:0;padding:0;
}
.url {
  float:right;
  font-size:.6em;
  margin-top:.5em;
}
.loc {
  font-style:italic;
}
.timespan {
  text-align:right;
  padding-right:1.5em;
}

.portfolio {
  .thumb {
    @include aspect-ratio(640,394);
    cursor:pointer;
    position:relative;
    h3 {
      background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 50%,rgba(0,0,0,1) 100%);
      color:#fff;
      margin:-5px 0 0;
      padding:0;
      text-align: center;
      height:auto;
      bottom:0;
      top:auto;
      width:100%;
      line-height:2em;
    }
  }

}
.jobs {
  background:#fff;
  max-width:1280px;
  width:80%;
  margin:0 auto;
  padding:0 40px 40px;
  .job_meta {
    p {
      font-size:1em;
      margin:0 0 40px;
    }
  }
  h4 {
    margin-top:40px;
    @include bp(s) {
      border-bottom:1px solid #ccc;
    }
  }
  .position {
    h4 {
      margin:0;
    }
  }
}
nav {
  ul {
    list-style:none;
    margin:0; padding:0;
    li {
      display:inline-block;
      padding-right:20px;
    }
  }
}
footer {
  margin:100px auto;
  text-align:center;
}
