@import "./_normalize.scss";
@import "./_variables.scss";
@import "./_global.scss";
@import "./_sass-mixins.scss";
@import "./_modal.scss";
@import "./_icons.scss";
@import '../../node_modules/susy/sass/_susy.scss';
//Basic Structure
.row {
    @include container();
    @for $i from 1 through $num-cols {
        .#{$prefix}-#{$i} {
            @include span($i);
        }
    }

    .gutter-0 {
        @include container();
    }
    @each $bp, $val in $bps {
         @media (min-width: $val){
            @for $i from 1 through $num-cols {
                .#{$prefix}-#{$i}-#{$bp} {
                    @include span($i);
                }
            }
        }
    }
}
//Basic Styles
body {
    font-family: $body-font;
    background: $body-bg-color;
    color: $body-text-color;
    position: relative;

    &.modal-open {
        overflow: hidden;
    }

    .centered {
        text-align: center;
    }

    .right {
        text-align: right;
    }

    a {
        text-decoration: none;
        color: $body-link-color;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: $header-font;
        font-size: $header-font-size;
        color: $header-color;
        font-weight: 400;
        text-transform: uppercase;
        margin: 0;
        padding: 0;
        line-height: 1.2em;
    }

    h2 {
        font-size: 30px;
        margin: 0 0 20px;
    }

    li,
    p {
        line-height: 1.6;
        margin: 0 0 1em;
        font-size: 20px;
    }

    img {
        max-width: 100%;
    }

    #wrapper-main {
        width: 94%;
        margin: 0 3%;
        background: $wrapper-bg-color;
        box-shadow: -2px 2px 5px #666;
        @include bp(s) {
            width: 90%;
            margin: 0 5%;
        }
        @include bp(l) {
            width: 80%;
            margin: 0 10%;
        }

        .inner {
            padding: $gutter-width $gutter-width * 2/3;
        }
    }
}
//Nav, Header, and Footer
#top-nav {
    background: url(#{$img-path + "bg-header.jpg"}) no-repeat center top;
    width: 100%;
    color: #fff;
    background-size: cover;
    text-align: center;

    ul {
        @include list-to-menu();
        display: inline-block;

        li {
            padding: 0 0.25em;
            margin: 0;
            @include bp(s) {
                padding: 0 1em;
            }

            a {
                display: block;
                font-size: 0.8em;
                line-height: $gutter-width;
                color: #fff;
                transition: 0.25s text-shadow ease-in;
                text-shadow: -1px 1px 5px #000;

                &:hover {
                    text-shadow: -1px 1px 10px #000;
                }
            }
        }
    }
}

header {
    padding: $gutter-width 0;
    text-align: center;

    h1 {
        font-family: $logo-font;
        color: $logo-color-rest;

        .dark {
            color: $logo-color-first;
        }
        font-size: 1.5em;
        @include bp(m) {
            font-size: 5em;
        }
    }

    h2 {
        font-size: 1.25em;
        font-family: $body-font;
        @include bp(m) {
            font-size: 2em;
        }
    }

    .contact {
        display: inline-block;
        margin: 0.8em 0.5em;
    }
}

nav {
    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            display: inline-block;
            padding-right: 20px;
        }
    }
}

footer {
    margin: 100px auto;
    padding:$gutter-width;
    text-align: center;
}
//Content Sections
.content {
    margin-bottom: $gutter-width;
}

.overview {
    ul.skills {
        display: flex;
        flex-wrap: wrap;
        margin: $gutter-width/2 0 0;
        padding: 0;
        vertical-align: top;

        li {
            display: inline-block;
            vertical-align: top;
            flex-grow: 1;
            padding: 0;
            margin: 0;

            .skill-box {
                margin: 5px;
                padding: 5px;
                background: #fff;
                text-align: center;

                p {
                    margin: 0;
                    font-size: 1em;
                    line-height: 1;
                    overflow: hidden;
                }

                .stars {
                    font-size: 0.8em;
                }
            }
        }
    }
}

.thumbs {
    margin-bottom: $gutter-width;

    .thumb {
        @include aspect-ratio(640,394);
        cursor: pointer;
    }

    h3 {
        text-align: center;
        line-height: 2;
    }

    p.tech {
        text-align: center;
        text-transform: none;
        font-style: italic;
        color: #000;
        font-size: 1em;
        margin: 0 $gutter-width $gutter-width;
    }
}

.job {  
    @include bp(s) {
      margin-bottom: $gutter-width;
    }
    h4,
    h5 {
        color: $off-black;
    }

    h5 {
        font-size: 1.2em;
    }

    .timespan {
        font-size: 0.8em;
    }

    cite {
        display: block;
        margin-bottom: $gutter-width/4;
    }

    .description {
        display: block;
        clear: both;
        padding-right: 10px;
    }

    .thumb-bucket {
        float: left;
        margin-right: 20px;
        text-align: center;

        img {
            display: inline-block;
            max-width: 100%;
            position: relative;
        }

        a.url {
            display: block;
            line-height: 2em;
            vertical-align: middle;
            font-size: 0.75em;
            color: $off-black;
        }
    }
}

.modal {
    .modal-nav {
      a {
        text-transform:uppercase;
        font-size:.8em;
        font-weight:700;
        .next, .prev {
          position:absolute;
          top:0;
          width:33%;
          height:100%;
        }
        .next {
          right:0;
        }
        .prev {
          left:0;
        }
      }

      .url {
        display:block;
        text-transform:none;
        font-size:.75em;
      }
    }
    h2 {
        text-align: center;
        font-size: 2em;
        padding:$gutter-width 0;
    }

    .thm {
        display: block;
        text-align: center;
        padding:$gutter-width 0;
        img {
            max-width: 100%;
        }
    }
}
